/* =================== reusable ================== */
.section-title::after,
.link-text::before {
    background-color: #4da92e !important;
}

.link-text.text-linear-effect {
    background-image: linear-gradient(90deg, #241d26, #241d26 50%, #4da92e 0);
}

/* =================== header ==================== */
.bag-icon i span,
.shop-cart-button .view-btn,
.close-icon i,
.social-media:hover {
    background-color: #4da92e;
}

.shop-cart-button .view-btn:hover,
.close-icon i:hover {
    background-color: #4da92e;
    opacity: .7;
}

.sub-menu li a:hover {
    color: #4da92e !important;
}

header {
    height: 100vh !important;
}

/* slider */

.slide-item img {
    height: 100vh !important;
}

.slider-control {
    width: 50%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 1;
    display: flex;
}

.slider-control i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #241d26;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}

.control-btn {
    text-align: center;
    line-height: 80px;
}

.control-btn a {
    padding-left: 10px;
    padding-right: 10px;
}

.slider-index,
.control-btn {
    width: 25%;
    background-color: rgba(255, 255, 255, .6);
}

.make-appointmnet {
    flex-grow: 1;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
}

.make-appointmnet span {
    font-size: 24px;
    font-family: "Playfair Display";
    color: #241d26;
    font-weight: 600;
    padding-right: 35px;
}

.slider-index {
    font-size: 36px;
    font-family: "Playfair Display";
    color: #241d26;
    font-weight: 700;
    text-align: center;
    line-height: 80px;
}

.slider-index span {
    font-size: 80%;
}

/* ======================== about us ======================== */
.about-section .main-content:first-child {
    border-bottom: 2px solid #e9e9e9;
}

.about-section .images.has-bg-1 {
    background-image: url('/imgs/why-choose-us-2.jpg');
    padding: 0 15px;
    order: 2;
}

.about-section .images.has-bg-2 {
    background-image: url('/imgs/why-choose-us-3.jpg');
    padding: 0 15px;
}

/* ======================= pricing plan ===================== */
.pricing-plan-wrapper {
    background-image: url('/imgs/pricing-section-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pricing-plan .section-title,
.pricing-plan .sub-heading {
    color: #fff;
}

.pricing-menu {
    background-color: rgba(255, 255, 255, .8);
    padding: 30px 50px !important;
}

.pricing-item .logo {
    background-color: #fff;
    z-index: 1;
}

.pricing-item:hover .logo::after {
    background-color: #4da92e;
}

.pricing-item .logo i,
.price {
    color: #4da92e;
}

/* ================== services =============== */
.services-icon-wrap {
    color: #4da92e;
}

.services-section .text-linear-effect {
    background-image: linear-gradient(90deg, #4da92e, #4da92e 50%, #241d26 0);
}

/* =============== collection ================ */
.collect-item::before {
    background-color: rgba(77, 169, 46, .8);
}

/* =============== process =================== */
.process-item {
    display: flex;
    margin-bottom: 30px;
    padding: 0 20px !important;
}

.process-item img {
    height: 35%;
}

.process-item .text-wrap {
    padding-left: 15px;
    font-family: Playfair Display;
}

.process-item .heading {
    font-size: 1.5rem;
    letter-spacing: .7px;
    margin-bottom: 14px;
    color: #241d26;
}

.process-item .main-text {
    line-height: 32px;
    color: #7c787d;
}

/* ================ testimonial =============== */
.testimonial-section {
    background-image: url('/imgs/pattern.png');
}

.testimonial-section .slide-content {
    /* important -> slick -> img: display: block */
    display: flex !important;
}

.slick-slide img {
    /* important -> slick -> img: display: block */
    display: inline-block !important;
}

.testimonial-section .text-wrap {
    padding: 50px 0;
    margin-left: 50px;
    text-align: left;
}

.testimonial-section .infomation {
    font-family: "Playfair Display", sans-serif;
    color: #ccc;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.testimonial-section blockquote p {
    text-align: left;
    color: #ddd;
    font-size: 24px;
    padding: 0;
    margin-bottom: 30px;
}

.testimonial-section .signature img {
    max-width: 110px;
    height: auto;
}

/* ======================= videobox - counter ====================== */
.videobox-counter-wrapper .counter-section {
    padding: 90px 0px 95px 80px;
}

.videobox-counter-wrapper .counter-section .heading {
    margin-left: 0;
}

.videobox-counter-wrapper .counter-section .counter {
    display: block;
    transform: translateX(0%);
}

.videobox-counter-wrapper .counter-item {
    display: flex;
    text-align: left;
    margin-bottom: 70px !important;
    margin-left: 10px;
}

.videobox-counter-wrapper .counter-section .heading {
    text-align: left !important;
}

.videobox-counter-wrapper .counter-item .description {
    margin-left: 30px;
}

.videobox-counter-wrapper .counter-item .title {
    margin-top: 0;
}

.videobox-counter-wrapper .counter-section .sub-heading {
    max-width: 400px !important;
    margin-top: 20px !important;
    font-size: 14px;
    color: #7c787d;
    text-align: left !important;
}

.videobox-counter-wrapper .video-box {
    height: 100%;
}

.videobox-counter-wrapper .play-btn,
.play-btn:hover {
    color: #4da92e;
}

/* ==================== latest blog post =================== */
.latest-blog {
    background-color: #fff;
}

.post-slider {
    width: 100% !important;
}

.post-box {
    margin-left: 0;
    max-width: 100%;
}

.post-box .inner {
    box-shadow: 0px 7px 15px 0px rgba(7, 7, 7, 0.06);
}

.post-box img {
    width: 100%;
}

.post-box .post-wrapper {
    padding: 44px 65px 50px 46px;
}

.post-category{
    font-family: 'Lora';
}

.post-title {
    background-image: linear-gradient(90deg, #4da92e, #4da92e 50%, #241d26 0);
}

/* ================ maps section ======================= */
.maps-contact textarea{
    width: 97%;
}

.contact-wrapper{
    padding-left: 50px !important;
}

.book-now-btn{
    background-color: #4da92e !important;
}

.option-menu li:hover{
    background-color: #4da92e;
}

/* ============= modal dialog - scroll top =============== */
.modal-dialog-box .pre-heading, .scroll-top.link-text{
    color: #4da92e;
}
